<%= render 'header' %>

 <div class="container-fluid">
    <!--documents-->
      <div class="row">
        <div class="col-xs-12 col-sm-12 content">
          <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body ">
              <div class="content-row picture_display">
                <h2 class="content-row-title"><%= @photo.title %></h2>
                <div class="col-sm-12 col-md-6">
                    <div class="thumbnail">
                      <% if @photo.image? %>
                        <%= image_tag(@photo.image.url, :class => "img-rounded ") %> 
                      <% end %>
                    </div>
                </div>
                <a href="https://pict-ups.herokuapp.com/display_photo/<%= @photo.id %>" class="twitter-share-button" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div><!-- panel body -->
          </div>
        </div><!-- content -->
      </div>
    </div>
<%= render 'footer' %>